<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= ReleaseNotes.app_name %> Release Notes</title>
    <%= stylesheet_link_tag "release_notes/application", media: "all" %>
    <%= javascript_include_tag "release_notes/bootstrap" %>
    <%= csrf_meta_tags %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="wrap">
      <div class="container">
        <div class="header">
          <ul class="nav nav-pills pull-right">
            <li><%= link_to "#{ReleaseNotes.app_name}", root_path %></li>
            <li class="active"><a href="#">Release Notes</a></li>
          </ul>
          <h3 class="text-muted"><%= ReleaseNotes.app_name %></h3>
        </div>
        <div class="release-note-body">
          <%= yield %>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted center">
          Creating using <a href="http://www.github.com/eanlain/release_notes" target="_blank">ReleaseNotes</a>.
        </p>
        <p class="center">
          <a href="#">Back to top</a>
        </p>
      </div>
    </footer>
  </body>
</html>
